doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Pure
    link(rel="stylesheet" href="/vendor/pure/pure-min.css")
    link(rel='stylesheet' href="http://fonts.googleapis.com/css?family=Lemon") 
    link(rel="stylesheet" href="css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    .pure-g
      .pure-u-1.header
        
        .pure-g.header-box
          .pure-u-10-24
            
            img.left-header-image(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png')
          .pure-u-14-24
            ul.textlinks 
              li.signIn 
              a(href="#") sign in 
              li | 
              li.signOut 
              a(href="#") sign out
            ul.heading-navigation
              li.about-nav About
              li.contact-nav Contact
              li.blog-nav Blog
              li.press-nav.lastnav Press
            img.tagline(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png")
      .pure-u-1
        .pure-g.main-nav
          .pure-u-2-24
          .pure-u-20-24
            ul.navigation
              li 
                a Buy
              li 
                a Sell
              li 
                a How it Works
              li 
                a Links
              li 
                a Community
              li
                <input class="serachbar" type="text" placeholder="search"></input>
          .pure-u-2-24
      .pure-u-1.body-wrapper
        .pure-g.main-content-wrapper
          .pure-u-3-5
            h3 We're making one aspect of life easier for parents of multiples:
            p 
              img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/owl_44_44.png')
              a buying and selling gently used sets of clothes! 
            img.register(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/left_2_register.png')
          .pure-u-2-5
            .main-content-kids
              img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg')
              img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/triplets.jpg')
              img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/quads.jpg')
          .pure-g
            .pure-u-1
              .pagebreak
                | &nbsp;
              //- .pure-u-5-5.pagebreak-image
              //- img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/dotted_line_44x9.png')
          .pure-g
            .pure-u-6-24.bottom-link
              img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png')
            .pure-u-6-24.bottom-link
              img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png')
            .pure-u-6-24.bottom-link
              img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png')
            .pure-u-6-24.bottom-link
              img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png')          
        .pure-u-1-1.link-soup
          ul.link-soup-nav
                li: a(href="#") Link
                li: a(href="#") Link
                li: a(href="#") Link
                li: a(href="#") Link
                li: a(href="#") Link
                li: a(href="#") Link


    img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/tree.png')
    img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/owl_44_44.png')
    script(src="js/main.js")
